body {
    background-image: url("http://fanart.tv/fanart/tv/194031/clearart/BobsBurgers-194031-2.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:  #ffd633;

}

.mainContainer {
    padding-top: 20px;
}

h3 {
    color: #e60000;
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
}

p{
    font-family: 'Indie Flower', cursive;
    font-style: oblique;
}

header {
    background-image: url("https://fanart.tv/fanart/tv/194031/clearlogo/BobsBurgers-194031.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
    width: 100%;
    height: 150px;
}

.btn-primary {
    background-color: #e60000;
    color: #ffd633;
}

